// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body {
    background-image: url("bg-mob-skinny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header {
    background-color: rgba(227, 144, 73, 0.3);
    position: absolute;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 6em;
 }


 nav {
     background-color: rgba(227, 144, 73, 0.3);
     position: absolute;
     display: flex;
     top: 15%;
     right: 5%;
     width: 30%;
     padding: 5px;
 }

 .user_details {
    display: flex;
    width: 100%;
    justify-content: space-around;
 }
 main {
   background-color: rgba(227, 144, 73, 0.3);
   position: absolute;
   left: 5%;
   right: 5%;
   top: 25%;
   padding: 15px;
 }

 .listing {
   padding: 10px;
   margin: 10px;
   background-color: rgba(225, 155, 94, 0.2);
 }

.ListingImage{
   display: flex;
   justify-content: space-around;
}

.BrowseImage {
}

.ListingWrapper {
   display: flex;
   width: 100%;
}
 .label {
    display: flex;
    justify-content: start;
    flex: 1.5;
 }

 .input {
   display: flex;
   flex: 1;
}

.submit {
   display: flex;
   justify-content: space-around;
}

 @media (min-width: 600px) {

   body {
      background-image: url("bg-web-skinny.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      background-attachment: fixed;
   }
 }